table.template1 {
    color: blue;
    border: 0 none transparent;
}

table.template1 > colgroup > col:nth-of-type(1) {
    color: #666;
    background-color: lightgray;
    width: 5rem;
}

table.template1 > tr:nth-of-type(2n) > td {
    background-color: whitesmoke;
}

table.template1 > tr:nth-of-type(0n+1) > td {
    color: white;
    background-color: #333;
}

table.template1 > tr:nth-last-of-type(0n+1) > td {
    color: white;
    background-color: #333;
}

table.template1 > tr:nth-of-type(2) > td {
    color: #666;
    background-color: lightgray;
}

table.template1 > tr:nth-of-type(1) > td:nth-of-type(3) {
    color: red;
    background-color: yellow;
}

table.template1 > tr:nth-of-type(4) > td:nth-of-type(4) {
    color: blue;
    background-color: skyblue;
}

table.template2 > tr:nth-of-type(2n) > td {
    background-color: whitesmoke;
}

table.template3 > tr > td {
    border: 0 none transparent;
}

table.template3 > tr:nth-of-type(2n) > td {
    background-color: whitesmoke;
}

table.template3 > tr:nth-of-type(0n+1) > td {
    background-color: gray;
    color: white;
}